<main>
    <div class="row gy-5">
        <section class="col-12">
            <div class="card text-bg-dark">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #5989</h5>
                    <p class="text-bg-secondary">Світлодіодна лампа з акумулятором</p>
                    <a href="/summary" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <section class="col-3">
            <div class="card">
                <div class="card-header">
                    <div class="display-6">Menu</div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Home page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>

                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </section>

        <section class="col-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Ivan</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Jhon</td>
                        <td>35</td>
                    </tr>

                </tbody>
            </table>
        </section>

        <section class="col-12">
            <div class="row g-2">
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click!</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>