<main class="ps-5">
    <div class="row">
        <h1 class="my-5">Список сторінок</h1>
        <p class="mb-5">Це мій перший пет-проєкт, де я вивчав HTML та Bootstrap. Сподіваюсь, що він доволі якісний.</p>

        <a href="/summary" class="btn btn-primary my-2">Приклад резюме</a>
        <a href="/person" class="btn btn-primary my-2">Приклад резюме 2.0</a>
        <a href="/bio" class="btn btn-primary my-2">Біографія А.Ейнштейна</a>
        <a href="/program" class="btn btn-primary my-2">Культурна програма</a>
        <hr class="mt-3">
        <a href="/web" class="btn btn-danger my-2">Конспект мов програмування</a>
        <a href="/js" class="btn btn-danger my-2">Конспект JavaScript</a>
        <hr class="mt-3">
        <a href="/car" class="btn btn-secondary my-2">Картка автомобіля</a>
        <a href="/mac" class="btn btn-secondary my-2">Картка MacBook</a>
        <hr class="mt-3">
        <a href="/facebook" class="btn btn-info my-2">Facebook</a>
        <hr class="mt-3">
        <a href="/bootstrap" class="btn btn-success my-2">Bootstrap іконки</a>
        <a href="/task21" class="btn btn-success my-2">Практика Bootstrap</a>
        <a href="/task22" class="btn btn-success my-2">Практика Bootstrap 2.0</a>
        <a href="/task31" class="btn btn-success my-2">Практика Bootstrap 3.0</a>
        <hr class="mt-3">
        <a href="/shophome" class="btn btn-warning my-2">Домашня сторінка магазину</a>
        <a href="/shoporder" class="btn btn-warning my-2">Сторінка оформлення замовлення</a>
        <a href="/shopcart" class="btn btn-warning my-2">Кошик магазину</a>
        <a href="/shopprofile" class="btn btn-warning my-2">Сторінка користувача магазину</a>
        <a href="/shopreview" class="btn btn-warning my-2">Відгуки покупців</a>
        <a href="/shopcatalog" class="btn btn-warning my-2">Каталог магазину</a>
    </div>
</main>